* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: '#FF57B2',
  --title-color: '#F8F8F8',
  --bg-color: '#1A1D23',
  --info-color: '#BBBBBB',
  --body-color: '#D7D7D7'
}
